@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .box-content {
        display: flex;
        padding: 20px;
        flex-direction: column;
        box-shadow: theme('shadow-md');
        border-radius: theme('borderRadius.md');
        box-shadow: theme('boxShadow.md');
        border: 1px solid theme('colors.border');
    }



}::-webkit-scrollbar {
    background-color: transparent;
    height: 10px;
    width: 5px;
  }
  
  ::-webkit-scrollbar-button{
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb{
    background-color:rgb(215, 215, 215);
    border-radius: 4px;
    cursor: pointer;
  }
  
  @layer components {
  
    .input-light-base {
      border-radius: theme('borderRadius.lg');
      box-shadow: theme('boxShadow.sm');
      border: 1px solid theme('colors.border');
    }
  
  
  
  }