@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .box-content {
        display: flex;
        padding: 20px;
        flex-direction: column;
        box-shadow: theme('shadow-md');
        border-radius: theme('borderRadius.md');
        box-shadow: theme('boxShadow.md');
        border: 1px solid theme('colors.border');
    }



}